html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/*Homepage*/

  img {
    width: 100%;
  }

  .nameandtitle {
    margin-left: 14%;
    font-family: 'Spectral', serif;
  }

  @media screen and (min-width: 600px) {
    .nameandtitle h1 {
      font-size: 35px;
    }
    .nameandtitle h2 {
      font-size: 26px;
    }
  }

  @media screen and (max-width: 599px) {
    .nameandtitle h1 {
      font-size: 21px;
    }
    .nameandtitle h2 {
      font-size: 15px;
    }
  }

  .Homepagepicture {
    align-items: center;
  }

  .Homepagepicture img {
    width: 80%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    width: 75%
  }

  .Homepagepicturevertical {
    align-items: center;
  }

  .Homepagepicturevertical img {
    width: 80%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    width: 75%
  }

  .menu {
    width: 80%;
    font-family: 'Spectral', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    margin-left: auto;
    margin-right: 6%;
  }

  @media screen and (min-width: 600px) {
    .menu {
      font-size: 24px;
    }

    .Homepagepicturevertical img {
      display: none;
    }
  }

  @media screen and (max-width: 599px) {
    .menu {
      font-size: 15px;
    }

    .Homepagepicture img {
      display: none;
    }
  }

  .menu a {
    text-decoration: none;
    color: black;
  }

  .socialmedia a {
    margin-right: 3px;
  }

  /*Written Work Page*/
  .Writtenwork section {
    padding: 50px 0px;
  }

  .Writtenwork .carousel {
    width: 70%;
    margin: 0 auto;
    font-family: 'Spectral', serif;
    text-decoration: none;
  }

  @media screen and (min-width: 600px) {
    .Writtenwork {
      font-size: 17px;
    }
  }

  @media screen and (max-width: 599px) {
    .Writtenwork {
      font-size: 16px;
    }
  }

  .Writtenwork .carousel .card img {
    width: 100%;
    margin-right;
  }

  .Writtenwork .carousel a {
    text-decoration: none;
    color: black;
  }

  .card {
    margin-right: .5%;
  }

  /*Bio page*/

  .menucontainer {
    flex-direction: column;
  }

  .Biopicture {
    margin-left: 15%;
    margin-right: 5%;
    height: auto;
  }

  @media screen and (min-width: 600px) {
    .Biopicture {
      width: 300px;
    }

    .bodycontainer {
      display: flex;
      align-items: flex-start;
    }

    .biography {
      width: 40%;
      font-size: 24px;
    }
  }

  @media screen and (max-width: 599px) {
    .Biopicture {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .bodycontainer {
      flex-direction: vertical;
    }

    .biography {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      font-size: 17px;
    }
  }

  .biography {
    font-family: 'Spectral', serif;
  }

  /*Contact page*/

  .contactcontainer {
    display: flex;
    justify-content: center;
  }

  .contactpicture {
    padding-right: 20%;
    height: auto;
  }

  .nameandtitlecontactpage {
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Spectral', serif;
  }

  @media screen and (min-width: 600px) {
    .nameandtitlecontactpage {
      margin-left: 14%;
    }
    .nameandtitlecontactpage h1 {
      font-size: 35px;
    }
    .nameandtitlecontactpage h2 {
      font-size: 26px;
    }
    .contactpicture {
      width: 300px;
      margin-left: 15%;
    }
  }

  @media screen and (max-width: 599px) {
    .nameandtitlecontactpage {
      margin-left: 8%;
    }
    .contactpicture {
      width: 200px;
      margin-left: 17%;
    }

    .nameandtitlecontactpage h1 {
        font-size: 26px;
      }
      .nameandtitlecontactpage h2 {
        font-size: 15px;
    }
  }

  .contactinfo {
    font-family: 'Spectral', serif;
  }

  .contactinfo a{
    text-decoration: none;
    color: black;
  }

  @media screen and (min-width: 600px) {
    .contactinfo {
      font-size: 21px;
    }
  }

  @media screen and (max-width: 599px) {
    .contactinfo {
      font-size: 15px;
    }
  }

  .contactsocial {
    font-family: 'Spectral', serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }

  @media screen and (min-width: 600px) {
    .contactsocial {
      font-size: 21px;
    }
  }

  @media screen and (max-width: 599px) {
    .contactsocial {
      font-size: 15px;
    }
  }

  .contactsocial p {
    margin-right: 6px;
  }

/*Written pieces pages*/

.writtenpiececontainer {
  .flex-direction: column;
}

.writtenpieceimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (min-width: 600px) {
  .writtenpieceimage {
    width: 300px;
  }
}

@media screen and (max-width: 599px) {
  .writtenpieceimage {
    width: 200px;
  }
}

.writtenpiece {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-family: 'Spectral', serif;
}

@media screen and (min-width: 600px) {
  .writtenpiece {
    font-size: 21px;
  }
}

@media screen and (max-width: 599px) {
  .writtenpiece {
    font-size: 17px;
  }
}
