html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/*Homepage*/

  img {
    width: 100%;
  }

  .nameandtitle {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    font-family: 'Spectral', serif;
  }

  @media screen and (min-width: 600px) {
    .nameandtitle {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 600px) {
    .nameandtitle {
      font-size: 17px;
    }
  }

  .Homepagepicture {
    align-items: center;
  }

  .Homepagepicture img {
    width: 80%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    width: 75%
  }

  .menu {
    width: 80%;
    font-family: 'Spectral', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  @media screen and (min-width: 600px) {
    .menu {
      font-size: 21px;
    }
  }

  @media screen and (max-width: 600px) {
    .menu {
      font-size: 15px;
    }
  }

  .menu a {
    text-decoration: none;
    color: black;
  }

  .socialmedia a {
    margin-right: 3px;
  }

  /*Written Work Page*/
  .Writtenwork section {
    padding: 50px 0px;
  }

  .Writtenwork .carousel {
    width: 70%;
    margin: 0 auto;
    font-family: 'Spectral', serif;
  }

  @media screen and (min-width: 600px) {
    .Writtenwork {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 600px) {
    .Writtenwork {
      font-size: 10px;
    }
  }

  .Writtenwork .carousel .card img {
    width: 100%;
    margin-right;
  }

  .card {
    margin-right: .5%;
  }

  /*Bio page*/

  .menucontainer {
    flex-direction: column;
  }

  .bodycontainer {
    display: flex;
  }

  .Biopicture {
    margin-left: 15%;
    margin-right: 5%;
    height: auto;
  }

  @media screen and (min-width: 600px) {
    .Biopicture {
      width: 300px;
    }
  }

  @media screen and (max-width: 600px) {
    .Biopicture {
      width: 200px;
    }
  }

  .biography {
    width: 40%;
    font-family: 'Spectral', serif;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  @media screen and (min-width: 600px) {
    .biography {
      font-size: 21px;
    }
  }

  @media screen and (max-width: 600px) {
    .biography {
      font-size: 15px;
    }
  }

  /*Contact page*/

  .contactcontainer {
    display: flex;
    justify-content: center;
  }

  .contactpicture {
    margin-left: 15%;
    padding-right: 20%;
    height: auto;
  }

  @media screen and (min-width: 600px) {
    .contactpicture {
      width: 300px;
    }
  }

  @media screen and (max-width: 600px) {
    .contactpicture {
      width: 200px;
    }
  }

  .contactinfo {
    font-family: 'Spectral', serif;
  }

  @media screen and (min-width: 600px) {
    .contactinfo {
      font-size: 21px;
    }
  }

  @media screen and (max-width: 600px) {
    .contactinfo {
      font-size: 15px;
    }
  }

  .contactsocial {
    font-family: 'Spectral', serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }

  @media screen and (min-width: 600px) {
    .contactsocial {
      font-size: 21px;
    }
  }

  @media screen and (max-width: 600px) {
    .contactsocial {
      font-size: 15px;
    }
  }

  .contactsocial p {
    margin-right: 6px;
  }
